* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    box-shadow: 2px 2px 100px gray;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: #666666;
    font-size: 15px;
}

nav ul li:nth-child(5) button {
    padding: 10px 25px;
    background-color: #222222;
    color: #ffffff;
    border-radius: 4px;
} 

main section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 194px;
}

main section .text {
    width: 420px;
    margin-top: 145px;
}

section .text img {
    width: 192px;
}

section .text h2 {
    font-size: 54px;
    font-weight: 400;
}

section .text p {
    font-size: 16px;
    margin-top: 18px;
}

section .text .buttons button {
    padding: 10px 25px;
    background-color: #222222;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 20px;
}


.section-cards {
    background-color: #222222;
    color: white;
    height: 1250px;
    margin-top: -201px;
}

.section-cards .cards .card {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section-cards .cards1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.section-cards .cards2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.section-cards h3 {
    display: flex;
    justify-content: center;
}

.section-cards h4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text .img {
    height: 5488px;
    overflow: hidden;
}
